{% extends "base.html" %}

{% load static %}

{% block titulo %}

{% endblock %}

{% block conteudo %}


<main class="container" style="margin-top: 70px;">
  <strong>
    <span class="mt-4">
      <h1>Nome Produto</h1>
    </span>
  </strong>
  <div class="row">
    <div class="col-lg-8">

      <div class="card mt-2">
        <div class="card-body">
          <img src="./assets/images/trab1.jpeg" width="300px" alt="descricao do produto">
          <p class="card-text">Mini-Descricao</p>
          <p class="card-text">R$ 00,00</p>
          <div class="d-flex">
            <div class="dropdown  border border-info">
              <button type="button" class="btn btn-primary-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quantidade
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card border border-info">
        <div class="card-body">
          <h5 class="card-title">Informações de Produto</h5>
          <p class="card-text">Quantidade Total <span>0</span> </p>
          <p class="card-text">Preço Total <span>R$ 00,00</span> </p>
          <a href="#" class="btn btn-outline-info">
            <span class="text-center" style="padding-right:130px;padding-left:130px">
              <i class="fas fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block domready %}

{% endblock %}
