<!doctype html>
{% load static %}
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static '/book/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static '/book/css/all.css' %}" rel="stylesheet">
  <link href="{% static '/book/css/styles.css' %}" rel="stylesheet">
  <title>
  {% block titulo %}  Loja {% endblock %}
  </title>
</head>

<body>
  <!-- cabecalho do site -->
  <header class="header main-color">
    <nav class="navbar navbar-dark bg-info navbar-expand-md fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'book:home' %}">
          <strong>LivraJack</strong>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Botão de navegação">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
          <div id="list-nav-menu" class="navbar-nav mr-auto list-group">
            <a class="nav-link nav-item list-group-item-action" href="#">
              Alta
            </a>
            <a class="nav-link nav-item list-group-item-action" href="#">
              Ofertas
            </a>
          </div>
          <div class="input-group col-8 mr-auto">
            <input type="text" class="form-control" id="search-bar" placeholder="Vamos ler hoje ?">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <a href="#">
                  <i class="fas fa-search"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="navbar-nav">
            <a class="nav-link nav-item" href="{% url 'book:cart' %}" alt="Editar o Carrinho">
              <i class="fas fa-shopping-cart"></i>
              Carrinho
            </a>
            <a class="nav-link nav-item" href="login.html" alt="Entrar em sua conta">
              <i class="fas fa-store-alt"></i>
              Entrar
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- fim cabeçalho -->
  {% block conteudo %}

  {% endblock %}
  <!-- rodapé -->
  <footer class="footer mt-4 bg-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 sm-6">
          <h5>Categorias</h5>
          <ul class="list-unstyled">
            <li><a href='#'>Shone 少年</a></li>
            <li><a href='#'>Shoujo 少女</a></li>
            <li><a href='#'>Josei 女性</a></li>
            <li><a href='#'>Seinen 青年</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6">
          <h5>Nossas Redes</h5>
          <ul class="list-unstyled">
            <li><i class="fab fa-twitter"></i><a href='https://www.twitter.com'> Twitter</a></li>
            <li><i class="fab fa-facebook"></i><a href='https://www.facebook.com'> Facebook</a></li>
            <li><i class="fab fa-linkedin"></i><a href='https://www.linkedin.com'> Linkedin</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-sm-6">
          <h5>Contato</h5>
          <ul class="list-unstyled">
            <li>Livraria</li>
            <li>+55 (21) 99999-9999</li>
            <li><a href='mailto:contato@livraria.br'>contato@livraria.br</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static '/book/js/jquery-3.3.1.js' %}"></script>
  <script src="{% static '/book/js/popper.js' %}"></script>
  <script src="{% static '/book/js/bootstrap.js' %}"></script>
  <script src="{% static '/book/js/script.js' %}"></script>
  <script>
    $(document).ready(function() {
      {% block domready %} {% endblock %}
    });
  </script>
</body>

</html>
