{% extends "book/base.html" %}

{% load static %}

{% block titulo %}

{% endblock %}

{% block conteudo %}

<!-- corpo da index -->
<main class="container mt-5">
  <div class="row text-center">
    <!-- for -->
    {% if books %}
    {% for book in books %}
    <div class="col-md-6 col-lg-4">
      <div class="card mt-4" style="width: 18rem;">
        <div class="card-body">
          <img src="{{ book.img_path }}" class="img-fluid pull-xs-left" alt="" width="180px">
          <h5 class="card-title">{{ book.name }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <span class="danger">
            <p>R${{ book.price }}</p>
          </span>
          <a href="{% url 'book:prod' %}" class="btn btn-outline-info">
            <span style="padding:100px">
              <i class="fas fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- endfor -->
    {% endfor %}
    {% else %}
    <div class="container mt-4">
      Não há produtos disponiveis
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}

{% block domready %}

{% endblock %}
