 body {
   position: relative;
 }

 .main-color {
   background-color: #40E0D0;
 }

 .pos-login {
   display: flex;
   align-items: center
 }

 .footer {
   background-color: #0267BA;
   color: #efefef;
   padding: 30px 0;
 }

 .footer a {
   color: white;
 }
