{% load static%}
<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static '/css/all.css' %}" rel="stylesheet">
  <link href="{% static '/css/styles.css' %}" rel="stylesheet">
  <title>Login</title>
</head>

<body class="bg-info">
  <div class="pos-login container">
    <div class="card" style="padding:150px; margin-top:50px; margin-left:auto;margin-right:auto;">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#login">
        Entrar
      </button><br>
      <span class="text-center">
        Faça Login aqui!
      </span>
      <button type="button" class="btn btn-info mt-1" data-toggle="modal" data-target="#registro">
        Registrar-se
      </button>
      <span class="">
        Ainda não é cliente? Registre-se aqui!
      </span>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="input-email">E-Mail</label>
              <input type="email" class="form-control" id="input-email" placeholder="Digite o email cadastrado">
            </div>
            <div class="form-group">
              <label for="input-password">Senha</label>
              <input type="password" class="form-control" id="input-password" placeholder="Digite sua senha">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-info">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Resgistro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="input-email">E-Mail</label>
              <input type="email" class="form-control" id="input-email" placeholder="Digite o email cadastrado">
            </div>
            <div class="form-group">
              <label for="input-email">Confirmação do E-Mail</label>
              <input type="email" class="form-control" id="input-confirmation-email" placeholder="Digite a confirmação do email cadastrado">
            </div>
            <small class="form-text text-muted">Favor confirmar o email</small>
            <div class="form-group">
              <label for="input-password">Senha</label>
              <input type="password" class="form-control" id="input-password" placeholder="Digite sua senha">
            </div>
            <div class="form-group">
              <label for="input-password">Confirmação da Senha</label>
              <input type="password" class="form-control" id="input-confirmation-password" placeholder="Digite a confirmação da sua senha">
            </div>
            <small class="form-text text-muted">Favor confirmar a senha</small>
            <div class="modal-footer">
              <button type="submit" class="btn btn-info">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
  <script src="{% static '/js/popper.js' %}"></script>
  <script src="{% static '/js/bootstrap.js' %}"></script>
  <script src="{% static '/js/script.js' %}"></script>
</body>

</html>
